./datascience/May_15th/glove.6B/glove.6B.300d.txt
./datascience/May_15th/glove.6B/glove.6B.50d.txt
./datascience/May_15th/glove.6B/glove.6B.100d.txt
./datascience/May_15th/glove.6B/glove.6B.200d.txt
Web_Sec_Exp/Kali/
